---
title: Home
---
<main>
    <section id="home">
       {% include introduction.html %}
    </section>
    <section id="previously">
        <h2>Some Places I've Worked At</h2>
        <ul>
            {% for item in site.data.companies %}
                <li>{{ item.name }}</li>
            {% endfor %}
        </ul>
    </section>
    <section id="projects">
        <h2>My Projects</h2>
        {% for item in site.data.projects %}
            <div class="project">
                <div class="projectTitle" >{{ item.name }}</div>
                <div class="skills">
                    {% for skill in item.skills %}
                        <div class="skillWrapper"><div class="projectSkill">{{skill}}</div></div>
                    {% endfor %}
                </div> 
                <div class="projectDescription">{{ item.details }}</div>
            </div>
        {% endfor %}
    </section>
</main>