<img id="mePic" src="/assets/images/marcus_professional.jpeg">
<div id="about">
    <p>
        Hi! I'm Marcus.
    </p>
    <div class="links">
        <a href="/assets/files/marcus_resume.pdf" title="resume">
            <img src="/assets/images/resume-icon.png">
        </a>
        <a href="https://www.linkedin.com/in/marcus-schubert/" title="linkedin">
            <img src="/assets/images/linkedin-icon.png">
        </a>
        <a href="https://github.com/mschubs" title="github">
            <img src="/assets/images/github-logo.png">
        </a>
        <a href="mailto:marschub@umich.edu" title="contact">
            <img src="/assets/images/email-icon.png">
        </a>
    </div>
</div>