<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Nunito'>
    <link rel="icon" href="/assets/images/marcus_professional.jpeg">
    {% feed_meta %}
    {% seo %}
  </head>
  <body>
    <div class="header">
      <a href="" class="name">Marcus Schubert</a>
      {% include navigation.html %}
    </div>
    {{ content }}
    <div class="footer">
      <div class="text">&copy; Marcus Schubert</div>
    </div>
  </body>
  <script src="/assets/js/smooth_scroll.js"></script>
</html>